# Wordle Solution

## Read Data

In [1]:
import pandas as pd

In [2]:
Words = pd.DataFrame(pd.read_csv(r'Data/wordle.csv'))

In [3]:
primeNumbers=[2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,101]

## Get Input

In [4]:
In= input("Enter Valid Chars\t") #chracters in Word   gto

Enter Valid Chars	lat

In [5]:
Out=input("Enter Not Valid Chars\t") #chracters out Word hyin

Enter Not Valid Chars	grefu

In [6]:
Temp=input("Enter Valid Templet\t") # Templet g0t0o

Enter Valid Templet	0000t

In [7]:
Nottemp=[]
t=input("Enter Not Valid Templet\t")
while t != '0':
    Nottemp.append(t)
    t=input()

Enter Not Valid Templet	000a0
0a0l0
0

## Processing

In [8]:
def charsValue(chars):
    sum=1
    for i in chars:
        sum*=primeNumbers[(ord(i))-97]
    return sum

In [9]:
inValue=charsValue(In)
outValue=charsValue(Out)

In [10]:
newWords=[]
for word in Words.itertuples():
    if word[2] % inValue==0 and word[2] % outValue!=0:
        newWords.append(word[1])

In [11]:
def checkTemp(word,template ):
    for char,temp in zip(word,template):
        if temp!='0'and char!=temp:
            return False
        continue
    return True

In [12]:
tempWords=[]
for word in newWords:
    if checkTemp(word,Temp):
        tempWords.append(word)

In [13]:
finalWords=[]
for word in tempWords:
    check=True
    for temp in Nottemp:
        if checkTemp(word,temp):
            check=False
        continue
    if check:
        finalWords.append(word)

## Result

In [14]:
pd.DataFrame(finalWords)

        0
0   ablet
1   lacet
2   dealt
3   alant
4   aleft
5   blart
6   aglet
7   blast
8   blatt
9   clapt
10  clart
11  clast
12  claut
13  leant
14  adult
15  leapt
16  palet
17  aloft
18  alert
19  least
20  salet
21  valet
22  exalt
23  plait
24  galut
25  shalt
26  liart
27  alist
28  atilt
29  allot
30  plant
31  larnt
32  smalt
33  slant
34  loast
35  plast
36  spalt
37  platt
38  slart
39  salut
40  lyart