# Wordle Solution

## Read Data

In [1]:
import pandas as pd

In [2]:
Words = pd.DataFrame(pd.read_csv(r'Data/wordle.csv'))

In [3]:
primeNumbers=[2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,101]

## Get Input

In [4]:
In= input("Enter Valid Chars\t") #chracters in Word   gto

Enter Valid Chars	lat

In [5]:
Out=input("Enter Not Valid Chars\t") #chracters out Word hyin

Enter Not Valid Chars	grefu

In [6]:
Temp=input("Enter Valid Templet\t") # Templet g0t0o

Enter Valid Templet	0000t

In [7]:
Nottemp=[]
t=input("Enter Not Valid Templet\t")
while t != '0':
    Nottemp.append(t)
    t=input()

Enter Not Valid Templet	000a0
0a0l0
0

## Processing

In [8]:
def charToPrime(char):
    return primeNumbers[(ord(char))-97]

In [9]:
def charsValue(chars):
    sum=1
    for i in chars:
        sum*=charToPrime(i)
    return sum

In [10]:
inValue=charsValue(In)
outValue=[]
for i in Out:
    outValue.append(charToPrime(i))

In [11]:
newWords=[]
for word in Words.itertuples():
    if word[2] % inValue==0 :
        for out in outValue:
            if word[2] % out ==0:
                break
        else:
            newWords.append(word[1])

In [12]:
def checkTemp(word,template ):
    for char,temp in zip(word,template):
        if temp!='0'and char!=temp:
            return False
        continue
    return True

In [13]:
tempWords=[]
for word in newWords:
    if checkTemp(word,Temp):
        tempWords.append(word)

In [14]:
finalWords=[]
for word in tempWords:
    check=True
    for temp in Nottemp:
        if checkTemp(word,temp):
            check=False
        continue
    if check:
        finalWords.append(word)

## Result

In [15]:
pd.DataFrame(finalWords)

        0
0   alant
1   blast
2   blatt
3   clapt
4   clast
5   plait
6   shalt
7   alist
8   atilt
9   allot
10  plant
11  smalt
12  slant
13  loast
14  plast
15  spalt
16  platt